---
---

@import url("https://use.typekit.net/rfs1mas.css");

@import 'bootstrap/bootstrap';

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
}

#main {
  width: 80%;
  margin: auto;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  box-shadow: 10px 0 10px -13px #888, -10px 0 10px -13px #888;
  padding-bottom: 50px;
  background-image: url("../assets/silo_mid.jpg");
  background-position: top center;
  background-size: 200px;
  background-repeat: repeat-y;
}

#banner {
  text-align:center;
  background-color: white;
  padding: 0;
  margin: 0;
  img {
    max-width: 100%;
    max-height: 450px;
    padding: 50px;
  }
}

.beer-carousel {
  min-height: 40em;
  .carousel-caption {
    color: black;
  }
}

.photos-carousel {
  .carousel-caption {
    color: black;
  }
}

.beer-card {
  cursor: pointer;
  margin: 16px auto;
  h5 {
    margin: 0;
  }
  p.info {
    color: #444;
  }
}

.beer-card:hover {
  border: solid #444 2px;
}

.nav {
  font-size: 1.25rem;
  margin-bottom: 50px;
}

.nav-item:hover a {
  color: #aaa;
}

.modal-link li {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-weight: lighter;
  padding: 8px 0;
  font-size: 1.75rem;
}

h3 {
  text-align: center;
  font-weight: lighter;
  padding: 8px 0;
  font-size: 1.6rem;
}

#about {
  text-align: center;
  padding-top:80px;
  padding-bottom:80px;
  background-image: url("../assets/silo_top.jpg"), url("../assets/silo_scene1.jpg"),url("../assets/silo_mid.jpg");
  background-position: top center, bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

#beers {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
  background-image: url("../assets/silo_scene2.jpg"),url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, repeat-y;

  > .section {
    padding-bottom: 40px;
  }
}

#ontaptakeout {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 80px;
  background-image: url("../assets/silo_scene3.jpg"),url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, repeat-y;
}

#ontap, #takeout {
  .list-group {
    text-align:center;
    width: 60%;
    margin: auto;
  }
  @include media-breakpoint-down(sm){
    padding-bottom:25px;
  }

  a:hover {
    text-decoration: none;
  }
}

#press {
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: center;
  background-image: url("../assets/silo_scene4.jpg"), url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, repeat-y;
}

#hours {
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url("../assets/silo_scene5.jpg"), url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, repeat-y;
}

#location {
  .address {
    text-decoration: underline;
  }
  padding-top: 1px;
  padding-bottom: 10px;
  min-height: 550px;
  text-align: center;
  background-image: url("../assets/silo_scene6.jpg"), url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 200px;
  background-repeat: no-repeat, repeat-y;
}


#footer_photos {
  position: relative;
  .bottom {
    box-shadow: inset 0 -40px 20px -20px white;
    height: 100px;
    background-image: url("../assets/silo_mid.jpg");
    background-position: top center;
    background-size: 200px;
    background-repeat: repeat-y;

    width: 80%;
    margin: auto;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    box-shadow: 10px 0 10px -13px #888, -10px 0 10px -13px #888;
  }
  .chat {
    height: 100px;
    margin-bottom: 25px;
    background-image: url("../assets/silo_chat.jpg");
    background-position: bottom center;
    background-size: 100px;
    background-repeat: no-repeat;
  }

  .photos {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
    }

    img {
      position: relative;
      height: 200px;
    }
  }
}

.no-border {
  border: 0;
}

.section {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 20px 20px rgba(255,255,255,0.75);
  clip-path: inset(-40px 0px -40px 0px);
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0.5);
  &.active {
    background-color: black;
  }
}

.beer-image {
  background-color: white;
}

#photosModal {
  img {
    width: 100%;
  }
}
