---
---

@import url("https://use.typekit.net/rfs1mas.css");

@import 'bootstrap/bootstrap';

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
}

#banner {
  text-align:center;
  background-color: white;
  padding: 0;
  margin: 0;
  img {
    height:450px;
    margin:50px;
  }
}

.beer-carousel .carousel-caption {
  color: black;
}

.beer-card {
  cursor: pointer;
  margin: 16px auto;
  h5 {
    margin: 0;
  }
  p.info {
    color: #444;
  }
}

.beer-card:hover {
  border: solid #444 2px;
}

.nav {
  font-size: 1.25rem;
  margin-bottom: 50px;
}

.nav-item:hover a {
  transition: color 0.3s ease;
  color: #aaa;
}

h2 {
  text-align: center;
  font-weight: lighter;
  padding: 8px 0;
  font-size: 1.75rem;
}

#about {
  text-align: center;
  padding-top:25px;
  padding-right:50px;
  padding-bottom:100px;
  background-image: url("../assets/silo_top.jpg"), url("../assets/silo_bot.jpg"),url("../assets/silo_mid.jpg");
  background-position: top center, bottom center, top center;
  background-size: 350px;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

#beers {
  text-align: center;
  padding-bottom: 200px;
  background-image: url("../assets/silo_scene2.jpg"),url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 350px;
  background-repeat: no-repeat, repeat-y;
}

#ontaptakeout {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../assets/silo_scene3.jpg"),url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 350px;
  background-repeat: no-repeat, repeat-y;
}

#ontap, #takeout {
  .list-group {
    text-align:center;
    width: 60%;
    margin: auto;
  }
}

#location {
  .address {
    text-decoration: underline;
  }
  .map{
    padding-top: 25px;
  }
  padding-bottom: 90px;
  min-height: 490px;
  text-align: center;
  background-image: url("../assets/silo_scene4.jpg"), url("../assets/silo_mid.jpg");
  background-position: bottom center, top center;
  background-size: 350px;
  background-repeat: no-repeat, repeat-y;
}

.no-border {
  border: 0;
}
