<div class="container" id="about">
  <div class="row">
    <div class="col-md-6 offset-md-3 section">
      <h2>À propos</h2>
      <p>Bienvenu chez Silo</p>
      <br/>
      <p>Pour Silo, la bière se doit d'accompagner les bons moments de la vie. On la boit en bonne compagnie, dans un endroit agréable, dans un beau verre avec beaucoup de mousse, pour se détendre, discuter, regarder le temps passer, relaxer. La bière est synonyme de plaisir!</p>
      <br/>
      <p>On aime les bières qui ont une tradition. Une tradition où les gens se rassemblent pour passer un bon moment entre amis, en famille ou entre collègues, accompagnés d'une bonne bière, idéalement là où elle a été fabriquée!</p>
      <br/>
      <p>Notre bar est situé à l'avant de la brasserie. Nos bières y sont disponibles en fut et en canette.</p>
      <br/>
      <p>Bienvenu chez Silo. Commandez ce qui vous fera le plus plaisir et profitez du moment!</p>
    </div>
  </div>
</div>
