<div id="about">
    <h2>À propos</h2>

    <div class="row">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Egestas dui id ornare arcu. Faucibus et molestie ac 
            feugiat. Sollicitudin nibh sit amet commodo nulla facilisi. Pretium aenean pharetra magna 
            ac placerat. Quisque sagittis purus sit amet volutpat consequat mauris nunc. Aliquet eget 
            sit amet tellus cras adipiscing enim eu turpis. Euismod elementum nisi quis eleifend quam 
            adipiscing vitae. At auctor urna nunc id cursus. Fames ac turpis egestas maecenas pharetra. 
            Senectus et netus et malesuada fames ac turpis egestas integer.
        </p>
    </div>
</div>