<div class="container" id="about">
    <div class="row">
        <div class="col">
            <h2>À propos</h2>
            <p>Pour Silo, la bière se doit d'accompagner les bon moments de la vie. On la boit en bonne compagnie, dans un endroit agréable, dans un beau verre avec beaucoup de mousse, pour se détendre, discuter, regarder le temps passer, relaxer. La bière est synonyme de plaisir et c'est ce qui compte le plus!</p>
            <br/>
            <p>On aime les bières qui ont une tradition. Une tradition où les gens se rassemblent pour passer un bon moment entre amis, en famille ou entre collègues, accompagné d'une bonne bière, idéalement là où elle a été fabriquée!</p>
            <br/>   
            <p>Bienvenu chez Silo. Commandez ce qui vous fera le plus plaisir et profitez du moment!</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>