<div class="container" id="beers">
  <div class="section">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Nos bières</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div id="carouselBeersIndicatorsMobile" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {% for beer in site.data.beers %}
              {%if forloop.first == true %}
                <li data-target="#carouselBeersIndicatorsMobile active" data-slide-to="{{ forloop.index0 }}"></li>
              {% else %}
                <li data-target="#carouselBeersIndicatorsMobile" data-slide-to="{{ forloop.index0 }}"></li>
              {% endif %}
            {% endfor %}
          </ol>
          <div class="carousel-inner beer-carousel">
            {% for beer in site.data.beers %}
              {% if forloop.first == true %}
              <div class="carousel-item active">
              {% else %}
              <div class="carousel-item">
              {% endif %}
                <h5>{{ beer.name }}</h5>
                 <small>{{beer.type}}, {{beer.abv}}</small>
               
                 <div class="beer-image">
                  <img class="d-block w-100" src="{{ beer.image }}" alt="First slide" />
                 </div>
                 <p>{{ beer.description }}</p>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselBeersIndicatorsMobile" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselBeersIndicatorsMobile" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
