<div style="clear: both;"></div>
<div id="footer_photos">
  <div class="photos">
    {% for image in site.data.footer_photos %}
      <div
        class="modal-link"
        data-toggle="modal"
        data-target="#photosModal"
      >
        <div
          data-target="#carouselPhotosIndicators"
          data-slide-to="{{ forloop.index0 }}"
        >
          <img src="{{ image }}" />
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="bottom"></div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="photosModal"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div
          id="carouselPhotosIndicators"
          class="carousel slide"
        >
          <ol class="carousel-indicators">
            {% for image in site.data.footer_photos %}
            {%if forloop.first == true %}
            <li data-target="#carouselPhotosIndicators active" data-slide-to="{{ forloop.index0 }}"></li>
            {% else %}
            <li data-target="#carouselPhotosIndicators" data-slide-to="{{ forloop.index0 }}"></li>
            {% endif %}
            {% endfor %}
          </ol>
          <div class="carousel-inner photos-carousel">
            {% for image in site.data.footer_photos %}
            {% if forloop.first == true %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
              <img src="{{ image }}" />
            </div>
            {% endfor %}
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselPhotosIndicators"
            role="button"
            data-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselPhotosIndicators"
            role="button"
            data-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

