<div id="location" class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Coordonnées</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <p class="address">123 chemin du golf
                <br> Montréal (Qc)
                <br> H2H2M2
            </p>
        <a href="https://www.facebook.com/bieresilo/"><i class="fab fa-facebook-square" style="font-size:36px"></i></a>
        <a href="https://www.instagram.com/brasseriesilo/?hl=fr-ca"></a><i class="fab fa-instagram" style="font-size:36px"></i></a>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.732320870171!2d-73.58250148444219!3d45.47519587910102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc9108339239443%3A0x6b97f05b38fc8a4f!2sCakemail!5e0!3m2!1sfr!2sca!4v1573778432071!5m2!1sfr!2sca" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>

</div>