<div id="location" class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 section">
      <h2>Coordonnées</h2>
      <p class="address">
      109 rue de Louvain Ouest
      <br /> Montréal (Qc), H2N 1A4
      </p>

      <div>
        <p>
        <i class="far fa-envelope" style="font-size:36px;vertical-align: middle;"></i>
        <span>
          <a href="mailto:info@bieresilo.com">
            info@bieresilo.com
          </a>
        </span>
        </p>
      </div>
      <a href="https://www.facebook.com/bieresilo/"><i class="fab fa-facebook-square" style="font-size:36px"></i></a>
      <a href="https://www.instagram.com/brasseriesilo/?hl=fr-ca"><i class="fab fa-instagram" style="font-size:36px"></i></a>
      <div></div>
    </div>
  </div>
</div>
