<ul class="nav flex-sm-row flex-column">
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link active" href="#about">À propos</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link" href="#beers">Nos bières</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link" href="#ontap">Menu en fût</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
        <a class="nav-link" href="#takeout">Pour emporter</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link" href="#press">Presse</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link" href="#hours">Heures</a>
    </li>
    <li class="nav-item flex-sm-fill text-center">
      <a class="nav-link" href="#location">Coordonnées</a>
    </li>
  </ul>
