<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#about">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#beers">Nos bières (et descriptions)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#ontap">Menu en fût</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#takeout">Pour emporter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="location">Coordonnées</a>
    </li>
  </ul>